{% extends 'elections/base.html' %}

{% block content %}
  <div class="container my-4 px-4">
    <a class="fs-4" style="margin-left: -48px;" href="{% url 'results' %}">< Back to results</a>
    <form action="" method="POST">
      <!-- name step -->
      <div class="row mt-3">
        <h2 class="text-success p-0">Step 1: Select your name</h2>
      </div>
      <div class="row mt-2 p-2">
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
          <option selected>Select your name</option>
          {% for voter in voters %}
          <option value="{{ voter.name }}">{{ voter.name}}</option>
          {% endfor %}
        </select>
      </div>

      <!-- vote step -->
      <div class="row mt-3">
        <h2 class="text-success p-0">Step 2: Select your candidates</h2>
        <p class="lead">Please select a candidate for each race, and submit your vote.</p>
      </div>

      <!-- race rows -->
      {% for race in races %}
        <div class="row mt-3">
          <h4>{{ race.name }}</h4>
        </div>
        <div class="row mt-1 g-5 align-items-stretch">
          {% for candidate in race.candidate_set.all %}
            <div class="col-12 mt-1 col-md-6 mt-md-0">
              <label class="input-group flex-nowrap h-100" style="cursor: pointer;">
                <div class="input-group-text">
                  <input class="form-check-input mt-0" name="race1Vote" type="radio" value=""
                         aria-label="Radio button for following text input">
                </div>
                <div
                    class="card w-100 border-{{ candidate.bootstrap_party_color }} text-{{ candidate.bootstrap_party_color }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ candidate.name }}</h5>
                    <p class="card-text"><strong>Bio: </strong>{{ candidate.bio }}</p>
                    <ul class="list-group">
                      <li class="list-group-item text-{{ candidate.bootstrap_party_color }}"><strong>Running
                        Mate:</strong> {{ candidate.running_mate.name }}</li>
                      <li class="list-group-item text-{{ candidate.bootstrap_party_color }}"><strong>Party
                        Affiliation:</strong> {{ candidate.party }}</li>
                    </ul>
                  </div>
                </div>
              </label>
            </div>
          {% endfor %}
        </div>
      {% endfor %}

      <!-- submit step -->
      <div class="row mt-5">
        <h2 class="text-success p-0">Step 3: Cast your vote!</h2>
      </div>
      <div class="row mt-3">
        <div class="col">
          <button type="submit" class="btn btn-outline-success btn-lg">Submit</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}