.election-bar > h1 {
  flex-basis: 33.33%;
}

.election-bar > h1:nth-of-type(2) {
  text-align: center;
}

.election-bar > h1:nth-of-type(3) {
  text-align: right;
}

.election-bar {
  padding: 10px;
}

.header {
  padding: 60px;
  text-align: center;
  background-color: rgb(28, 21, 226);
  color: white;
  font-size: 30px;
}
